{
  "arrowParens": "avoid",
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "semi": false,
  "singleQuote": true,
  "svelteBracketNewLine": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteIndentScriptAndStyle": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
